
body{
	background-image: url(03-full.jpg);
	align-items: center;
	padding-left: : 100px;
	padding-right: 50px;
	padding-top: 50px;
	position: relative;
	overflow: scroll;
	background-repeat: no-repeat;
	background-size: cover;
	/*background-color: teal;*/
}
.header{
	font-size:60px;
	width: 1000px;
	margin: auto;
	margin-top: 150px;
	color: black;
}
button{
    background-color: teal;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding-bottom: 5px;
}
.center{
	padding-top:50px ;
   	position:center;
   	text-align: center;
}
.header3{
	margin-top: 100px;
	text-align: center;
	color: black;
}
/* Place the navbar at the bottom of the page, and make it stick */
.bottomlinks {
	padding-top: 50px;
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.bottomlinks a{
				float: left;
			   display: block;
			  color: #f2f2f2;
			  text-align: center;
			  padding: 14px 16px;
			  text-decoration: none;
			  font-size: 17px;
			  padding-top: 1.5px;
}
.bottomlinks a:hover {
  background: #f1f1f1;
  color: black;
}
.bottomlinks a.active {
  background-color: #4CAF50;
  color: white;
}
.main {
  padding: 16px;
  margin-bottom: 30px;
}
h1{
	font-size:45px;
	width: 1000px;
	margin: auto;
	margin-top: 80px;
	text-align: center;
}
p{
	font-size:20px;
	width: 1200px;
	margin:auto;
   text-align: center;
			color: black;
}
html {
    font-family: "Lucida Sans", sans-serif;
}

.center1{
   	position:center;
   	text-align: center;
   	width: 500px;
   	margin-left: 200px;
   	margin-top: 20px;
   	height: 200px;
}
.d{
	font-size:20px;
	width: 800px;
	margin-top:50px;
	margin-left:50px;
   text-align: center;
}
.ter{
	font-size:30px;
	width: 1000px;
	margin: auto;
	margin-top: 30px;
}
.profile{
	color: black;
	font-weight: bold;
}
.image{
	float: left;
}
h3{
	color: black;
	font-family: fantasy;
	text-align: center;
}
.hobbies p{
	text-align: right;
	color: black;
}
.profile p{
	text-align: left;
	color: black;
}
.projects{
	font-style: italic;
 float: right;
}
h1{
color: inherit;
}
.pic{
	float: none;
}
.hobbies li{
	font-style: italic;
	font-family: cursive;
	font-size: 155%;
	color: black;
	text-align: center;
	padding-left: 0px;
}
.ter{
	color: black;
	font-family: cursive;
	border: 10px black;
	text-indent: inherit;
}
